body { 
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
   }
  
  
  
  /* center the blockquote in the page */
  .blockquote-wrapper {
     display: flex;
     height: 100vh;
     padding: 0 20px;
  }
  
  /* Blockquote main style */
  .blockquote {
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      color: #ffffff;
      padding: 30px 0px 10px 0px;
      width: 100%;
      max-width: 500px;
      z-index: 1;
      margin: 80px auto;
      align-self: center;
      border-top: solid 1px;
      border-bottom: solid 1px;
  }
  .quote-btn button{
    position: relative;
    left: 35%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
 .author-text{
    font-weight: 300;
 }

  
  /* Blockquote right double quotes */
  .blockquote:after {
      position: absolute;
      content: "”";
      color: rgba(255, 255, 255, 1);
      font-size: 10rem;
      line-height: 0;
      bottom: -43px;
      right: 30px;
  }
  
  /* increase header size after 600px */
  @media all and (min-width: 500px) {
     h1 {
          font-size: 60px;
          
        
          
     }
  
  }
  
 